<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        RECEIPT
        <ion-icon routerLink="/home" name="arrow-back-outline" class="icon"></ion-icon>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="alert">
    <img src="assets/img/alert.png" alt="alert">
    <p> No request has been received by the system admnistrator.</p>
  </div>
</ion-content>

