<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <a (click)="dismiss()">
          <ion-icon slot="icon-only" routerLink="/welcome" name="arrow-back" color="secondary"></ion-icon>
        </a>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup" color="secondary">SIGN UP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="header">
    <img src="../../assets/img/dalandanan.png" class="logo">
    <h1>Login</h1>
  </div>

 
  <form id="form">
    <ion-input fill="outline" placeholder="Email" ></ion-input>
    <ion-input fill="outline" type="password" placeholder="Password"></ion-input>
    <ion-button routerLink="/home" expand="block" shape="round" color="warning">Login</ion-button>
  </form>
  
  <div class="ion-margin-top ion-text-center forget">
    <a>Forgot Password?</a>
  </div>
</ion-content>
