<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        REQUEST FOR CERTIFICATES
        <ion-icon routerLink="/home" name="arrow-back-outline" class="icon"></ion-icon>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <div class="images">
        <img src="assets/img/Clearance.jpg" routerLink="/clearance" alt="Clearance" class="Clearance">
      </div>
      <div class="images1">
        <img src="assets/img/Indigency.jpg" routerLink="/indigency" alt="Indigency" class="Indigency">
      </div>
      <div class="images2">
        <img src="assets/img/Residency.jpg" alt="Residency" routerLink="/residency" class="Residency">
      </div>
      <div class="images3">
        <img src="assets/img/Cedula.jpg" alt="Cedula" routerLink="/cedula" class="Cedula">
      </div>
</ion-row>
</ion-grid>

</ion-content>

