<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true" class= "ion-padding ion-text-center">
  <img src="../../assets/img/dalandanan.png" class="logo">
  <h2 class="title1">Welcome to Barangay Management System</h2>
  <p class="paragraph">We are always happy to serve you!</p>
         

  <div class="ion-margin-top">
    <ion-button routerLink="/signup" expand="block" class="ion-margin-top" (click)="signup()" fill="outline" color="white">SIGN UP</ion-button>
  </div>

  <div class="ion-margin-top1">
    <ion-button routerLink="/login" expand="block" class="ion-margin-top1" (click)="login()" background="white">LOGIN</ion-button>
  </div>

</ion-content>

